# Скрываем папки виртуального окружения и IDE
venv/
.idea/
__pycache__/
*.pyc

# Скрываем старую локальную базу (мы теперь на PostgreSQL)
db.sqlite3

# Скрываем тяжелые библиотеки фронтенда
frontend/node_modules/